<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462833888486-45vobmgvt3demaqo9a5jtseb1c0r8ge3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462833888486-45vobmgvt3demaqo9a5jtseb1c0r8ge3</string>
	<key>API_KEY</key>
	<string>AIzaSyAqvc-nRsc1A5Xq9LedpRHE7khAD7TCxhc</string>
	<key>GCM_SENDER_ID</key>
	<string>462833888486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webrtc</string>
	<key>PROJECT_ID</key>
	<string>web-rtc-1d945</string>
	<key>STORAGE_BUCKET</key>
	<string>web-rtc-1d945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462833888486:ios:1ffa352c9293fb606b9f27</string>
</dict>
</plist>